.createPost {
  width: 100%;
}
.createPost .container {
  align-items: start;
  text-align: unset;
  width: 1200px;
  border-radius: 25px;
  background-color: aliceblue;
}

.createPost button {
  background-color: black;
  color: aliceblue;
}
.createPost .profilePicture {
  width: 100%;
  border-radius: 100px;
}
