.movieListScreen {
  width: 100%;
}
.movieListScreen .container {
  width: 1200px;
  border-radius: 25px;
  background-color: aliceblue;
}
.movieListScreen button {
  background-color: black;
  color: aliceblue;
}
.movieListScreen .listTitle {
  display: inline;
}
